<div *ngIf="this.opdracht9aauth.includes(this.authService.getUsername().toString())"  class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Verhuurde artikelen
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht9a"
      [dataSource]="opdracht9a">
      <dxi-column dataField="emailadres" sortOrder="asc"></dxi-column>
      <dxi-column dataField="merk"></dxi-column>
      <dxi-column dataField="type"></dxi-column>
      <dxi-column dataField="titel"></dxi-column>
      <dxi-column dataField="prijs" dataType="number"></dxi-column>
      <dxi-column dataField="prijs_per_d" dataType="number"></dxi-column>
      <dxi-column dataField="spel_of_console"></dxi-column>
      <dxi-column dataField="jaar_uitgave" dataType="number"></dxi-column>
      <dxi-column dataField="uitgever"></dxi-column>
      <dxi-column dataField="huurstatus"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div *ngIf="this.opdracht9bauth.includes(this.authService.getUsername().toString())" class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Niet verhuurde spellen 2016
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht9b"
      [dataSource]="opdracht9b">
      <dxi-column dataField="titel" sortOrder="asc"></dxi-column>
      <dxi-column dataField="uitgever"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div *ngIf="this.opdracht9cauth.includes(this.authService.getUsername().toString())" class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Maandomzetten 2012 tot 2017
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht9c"
      [dataSource]="opdracht9c">
      <dxi-column dataField="jaar" dataType="number" sortOrder="asc"></dxi-column>
      <dxi-column dataField="maand" dataType="number"></dxi-column>
      <dxi-column dataField="omzet" dataType="number"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div *ngIf="this.opdracht9dauth.includes(this.authService.getUsername().toString())" class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Populairste spellen
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht9d"
      [dataSource]="opdracht9d">
      <dxi-column dataField="titel"></dxi-column>
      <dxi-column dataField="aantal_keer_verkocht_verhuurd" dataType="number" sortOrder="desc"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div *ngIf="this.opdracht9eauth.includes(this.authService.getUsername().toString())" class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Consoles in reparatie
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht9e"
      [dataSource]="opdracht9e">
      <dxi-column dataField="barcode" dataType="number" [width]="100" sortOrder="asc"></dxi-column>
      <dxi-column dataField="merk" [width]="100"></dxi-column>
      <dxi-column dataField="type" [width]="100"></dxi-column>
      <dxi-column dataField="startdatum"></dxi-column>
      <dxi-column dataField="datum_gereed"></dxi-column>
      <dxi-column dataField="reparatiestatus"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div *ngIf="this.opdracht9fauth.includes(this.authService.getUsername().toString())" class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Omzetten klanten
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht9f"
      [dataSource]="opdracht9f">
      <dxi-column dataField="emailadres"></dxi-column>
      <dxi-column dataField="status"></dxi-column>
      <dxi-column dataField="omzet" dataType="number" sortOrder="desc"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div *ngIf="this.opdracht9gauth.includes(this.authService.getUsername().toString())" class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Inkoophoeveelheid en totaalbedrag
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht9g"
      [dataSource]="opdracht9g">
      <dxi-column dataField="jaar" dataType="number" sortOrder="desc"></dxi-column>
      <dxi-column dataField="aantal_artikelen" dataType="number"></dxi-column>
      <dxi-column dataField="totaalbedrag" dataType="number"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>




