<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Omzet januari 2015
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht7a"
      [dataSource]="opdracht7a">
      <dxi-column dataField="omzet_januari_2015" dataType="number"></dxi-column>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Meest gehuurde spel
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht7b"
      [dataSource]="opdracht7b">
      <dxi-column dataField="titel"></dxi-column>
      <dxi-column dataField="uitgever"></dxi-column>
      <dxi-column dataField="aantal_keer_verhuurd" dataType="number"></dxi-column>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Huurovereenkomst met de hoogste omzet
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht7c"
      [dataSource]="opdracht7c">
      <dxi-column dataField="einddatum"></dxi-column>
      <dxi-column dataField="emailadres"></dxi-column>
      <dxi-column dataField="huurstatus"></dxi-column>
      <dxi-column dataField="startdatum"></dxi-column>
      <dxi-column dataField="bedrag" dataType="number"></dxi-column>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Totale schade 2016
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht7d"
      [dataSource]="opdracht7d">
      <dxi-column dataField="totale_schade_2016" dataType="number"></dxi-column>
    </dx-data-grid>
  </div>
</div>
<p></p>
<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>Consoles met de meeste schade
  </div>
  <div class="card-body">
    <dx-data-grid
      id="opdracht7e"
      [dataSource]="opdracht7e">
      <dxi-column dataField="barcode" dataType="number" sortOrder="asc"></dxi-column>
      <dxi-column dataField="merk"></dxi-column>
      <dxi-column dataField="type"></dxi-column>
      <dxi-column dataField="prijs" dataType="number"></dxi-column>
      <dxi-column dataField="prijs_per_d" dataType="number"></dxi-column>
      <dxi-column dataField="schadebedrag" dataType="number"></dxi-column>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging
        [enabled]="true">
      </dxo-paging>
      <dxo-pager
        [showInfo]="true"
        infoText="Pagina #{0}. Totaal: {1} ({2})"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
      </dxo-pager>
    </dx-data-grid>
  </div>
</div>
