<!--<header class="app-header navbar">-->
  <!--&lt;!&ndash;<button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="navbar-toggler-icon"></span>&ndash;&gt;-->
  <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<a class="navbar-brand" href="#"></a>&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="navbar-toggler-icon"></span>&ndash;&gt;-->
  <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<ul class="nav navbar-nav d-md-down-none">&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item px-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="nav-link" href="#">Dashboard</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item px-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="nav-link" href="#">Users</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item px-3">&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="nav-link" href="#">Settings</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--<ul class="nav navbar-nav ml-auto">-->
    <!--&lt;!&ndash;<li class="nav-item d-md-down-none">&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item d-md-down-none">&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="nav-link" href="#"><i class="icon-list"></i></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="nav-item d-md-down-none">&ndash;&gt;-->
      <!--&lt;!&ndash;<a class="nav-link" href="#"><i class="icon-location-pin"></i></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--<li class="nav-item dropdown" dropdown placement="bottom right">-->
      <!--<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">-->
        <!--<img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>-->
      <!--</a>-->
      <!--<div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">-->
        <!--<div class="dropdown-header text-center"><strong>Account</strong></div>-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dropdown-header text-center"><strong>Settings</strong></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="divider"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>&ndash;&gt;-->
        <!--<a class="dropdown-item" href="#/login"><i class="fa fa-lock"></i>Logout</a>-->
      <!--</div>-->
    <!--</li>-->
    <!--&lt;!&ndash;<button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="navbar-toggler-icon"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--</ul>-->
<!--</header>-->
