<p>
    <dx-data-grid
        id="klanten"
        [dataSource]="klanten"
        [masterDetail]="{ enabled: true, template: 'detail', autoExpandAll: false }"
        (onSelectionChanged)="selectionChanged($event)">
        <dxi-column dataField="achternaam" sortOrder="asc"></dxi-column>
        <dxi-column dataField="voornamen"></dxi-column>
        <dxi-column dataField="emailadres"></dxi-column>
        <dxi-column dataField="woonplaats"></dxi-column>
        <dxi-column dataField="status"></dxi-column>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-paging
            [enabled]="true">
        </dxo-paging>
        <dxo-pager
            [showInfo]="true"
            infoText="Pagina #{0}. Totaal: {1} ({2} klanten)"
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 20, 50]"
            [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-export [enabled]="true"></dxo-export>
        <!-- <dxo-load-panel [enabled]="true"></dxo-load-panel> -->
        <div *dxTemplate="let customer of 'detail'">

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="contact-box">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <i class="fa fa-star fa-6" aria-hidden="true" [ngClass]="{
                                    'gold':klant?.status === 'Gold',
                                    'silver':klant?.status === 'Silver',
                                    'brons':klant?.status === 'Brons'
                                }"></i>
                                <!-- <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg"> -->
                                <div class="m-t-xs font-bold">{{ klant?.status }}</div>
                                <!-- <div>Omzet: {{ klantOmzet.omzet | number:'1.0' }}</div>
                                <div>Omzet: {{ klant.omzet | number:'1.0' }}</div>
                                <br/> -->
                                <div>{{ klant?.merk_eigen_console }}</div>
                                <div>{{ klant?.type_eigen_console }}</div>
                            </div>
                        </div>
                        <div class="col-sm-7 address">
                            <h3><strong>{{ klant?.voornamen }} {{ klant?.achternaam }}</strong></h3>
                            <!-- <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p> -->
                            <address>
                                {{ klant?.straatnaam }} {{ klant?.huisnummer }}<br>
                                {{ klant?.postcode }} {{ klant?.woonplaats }}<br>
                            </address>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Omzet</h5>
                            <div class="ibox-tools">
                                <a href="" class="btn btn-primary btn-xs">Omzet</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="">
                                <div *ngIf="klantOmzet; else empty">
                                    <div class="table-responsive">
                                        <table class="table table-hover issue-tracker">
                                            <tbody>
                                            <tr *ngFor="let omzet of klantOmzet">
                                                <td>
                                                    <span class="label label-primary">{{ omzet?.jaar }}</span>
                                                </td>
                                                <td>
                                                    <small>
                                                        &euro; {{ omzet?.omzet | number:'1.2' }}
                                                    </small>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Verhuurhistorie</h5>
                            <div class="ibox-tools">
                                <a href="" class="btn btn-primary btn-xs">Verhuurhistorie</a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div *ngIf="klantHistory; else empty">
                                <div class="table-responsive">
                                    <table class="table table-hover issue-tracker">
                                        <tbody>
                                        <tr *ngFor="let history of klantHistory">
                                            <td>
                                                    <span *ngIf="history.merk"
                                                          class="label label-primary">Console</span>
                                                <span *ngIf="history.titel" class="label label-primary">Game</span>
                                            </td>
                                            <td>
                                                <small>
                                                    {{ history.datum }}
                                                </small>
                                            </td>
                                            <td class="issue-info">
                                                <small *ngIf="history.merk">
                                                    {{ history.merk }}
                                                </small>
                                                <small *ngIf="history.titel">
                                                    {{ history.titel }} ({{ history.jaarUitgave }})
                                                </small>
                                            </td>
                                            <td>
                                                <small *ngIf="history.merk">
                                                    {{ history.type }}
                                                </small>
                                                <small *ngIf="history.titel">
                                                    {{ history.uitgever }}
                                                </small>
                                            </td>
                                            <!--<td class="text-right">-->
                                            <!--<button class="btn btn-white btn-xs"> Tag</button>-->
                                            <!--<button class="btn btn-white btn-xs"> Mag</button>-->
                                            <!--<button class="btn btn-white btn-xs"> Rag</button>-->
                                            <!--</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <ng-template #emptyHistory>
                                <div class="table-responsive">
                                    <table class="table table-hover issue-tracker">
                                        <tbody>
                                        <tr>
                                            <td colspan="6">
                                                <span class="label label-primary">Empty</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #empty>
            <div class="table-responsive">
                <table class="table table-hover issue-tracker">
                    <tbody>
                    <tr>
                        <td colspan="6">
                            <span class="label label-primary">Empty</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </dx-data-grid>
</p>
